.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 5px;
}

.form-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::placeholder {
  font-size: 0.8rem; 
  padding: 0; 
}

